#convertBlock {
    display: flex;
    width: 60%;
    margin: auto
}

#convertBtn {
    font-size: large;
    margin: auto;
}

#mid {
    display: grid;
    margin: 100px;
}

#mid > * {
    margin-bottom: 10px;
    width: 80px;
}