<html>
    <head> 
        <link rel="stylesheet" href="/temp/css/main.css">
        <script src="/temp/js/ajax.js"></script>
    </head>
    <body>
        <div id="convertBlock">
            <textarea name="targetInput" id="targetInput" cols="60" rows="20"></textarea>
            <div id="mid">
                <input type="number" name="targetNumber" id="targetNumber" min="1" value="1">
                <select name="targetOperation" id="targetOperation">
                    <option value="plus">+</option>
                    <option value="minus">-</option>
                </select>
                <button type="button" id="convertBtn">Convert</button>
            </div>
            <textarea name="targetOutput" id="targetOutput" cols="60" rows="20"></textarea>
        </div>
    </body>
</html>